body {

background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/108/725/original/rocks.jpeg?1703969693");
background-size: cover;
font-family: "Roboto", sans-serif;
}

a {
  color: #885df1;
}

.weatherApp {
  background-color: white;
  max-width: 600px;
  margin: 45px auto;
  padding: 30px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 16px;
}

header {
  border-bottom: 1px solid #f9f7fe;
  padding: 0 0 30px 0;
}

.searchFormInput {
  background-color: #f7f5fb;
  border: none;
  border-radius: 6px;
  width: 80%;
  padding: 15px 20px;
  font-size: 16px;
}

.searchFormButton {
  background: #885df1;
  padding: 15px 20px;
  border: none;
  border-radius: 6px;
  color: white;
  margin-left: 5px;
  font-size: 16px;
}

main {
  padding: 30px 0;
}

.weatherAppData {
  display: flex;
  justify-content: space-between;
}

.weatherAppCity {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}

.weatherAppDetails {
  font-size: 16px;
  color: gray;
  line-height: 24px;
  font-weight: 500;
}

.weatherAppDetails strong {
  color: #f65282;
}

.weatherAppTemperatureContainer {
  display: flex;
}


.weatherAppTemperature {
  font-size: 88px;
  line-height: 88px;
  font-weight: bold;
}

.weatherAppUnit {
  font-size: 28px;
  margin-top: 6px;
}

footer {
  border-top: 1px solid #f9f7fe;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.6);
}

.weatherForecast {
  text-align: center;
  color: #000;
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.weatherForecastDate {
  text-align: center;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}

.weatherForecastIcon {
  width: 88px;
  height: 88px;
  display: block;
  margin: 0 auto;
}
.weatherForecastTemperatures {
  font-size: 13px;
  text-align: center;
  color: #f65282;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.weatherForecastTemperature {
  padding: 0 10px;
}
.weatherForecastTemperatureMax {
  margin: 0 0 0 10px;
}
.weatherForecastTemperatureMin {
  margin: 0 10px;
}
strong {
  padding: 5px;
}